<header>
    <img src="beispiel.img" alt="Logo of the site">
    <form>
        <input type="name" name="place" id="place" placeholder="Enter place">
    </form>
    <button>share</button>
    <button>Get App</button>
</header>