<header id="containerheader">
    <figure>
        <img src="img/ExploreAssist.jpg" alt="Icon of Vacation" width="279" height="62">
        <figcaption>Icon of the Sightseeing Recommendation</figcaption>
    </figure>
    <h1>Ready to Start Your Journey?</h1>
</header>