<!DOCTYPE html>
<html>
    <head>
        <title>Your Personal Sightseeing</title>
    </head>
    <body>
        <main>
            <h1>Step 1: Planning</h1>
        <form>
            <fieldset>
                <legend>Ready to Start your Journey?</legend>
                <label>Place:</label>
                <input type="search" name="place" id="place" placeholder="Enter a city/country">
                <label>From:</label>
                <input type="date" name="from" id="from" placeholder="Enter a city/country">
                <label>To:</label>
                <input type="date" name="to" id="to" placeholder="Enter a city/country">
                <label>Traveller:</label>
                <input type="number" name="traveller" id="traveller" placeholder="Enter a city/country">
            </fieldset>
        </form>
        </main>
    </body>
</html>