<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Tutorials</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <link rel="stylesheet" type="text/css" href="css/grid.css">
        <script src="js/burgermenu.js"></script>
    </head>
    <body id="containerbody">
        {% include 'includes/header.html' %}
        {% include 'includes/nav.html' %}
        <main id="containermain">
            <section id="tutorial1">
                <h2>Your Recommendations</h2>
                {% if Sightseeing %}
                    <p>{{ Sightseeing }}</p> <!-- Hier wird der von GPT.py erhaltenene Text eingefügt -->
                {% else %}
                    <p class="notfound">No matching places</p>
                {% endif %}
            </section>
        </main>
        {% include 'includes/aside.html' %}
        {% include 'includes/footer.html' %}
    </body>
</html>
