@media screen and (max-width: 480px)
{
    #containermainaside
    {
        display: flex;
        flex-wrap: wrap;
    }
}

#containerheader
{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

#containernav 
{
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
}

#containermainaside
{
    display: flex;
    flex-direction: row;
}

#containermain 
{
    display: flex;
    flex-basis: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#search
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#list
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#informations
{
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 2em;
    margin: 5px;
    width: 600px;
}

#img
{
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 2em;
    margin: 5px;
    width: 400px;
}

#video 
{
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 2em;
    margin: 5px;
    width: 600px;
}

#table
{
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 2em;
    margin: 5px;
    width: 400px;
}

#containeraside
{
    display: flex;
    flex-basis: 30%;
    flex-flow: column;
    box-sizing: border-box;
}

#containerfooter
{
    position: fixed;
    display: flex;
    flex-flow: column;
    bottom: 0;
}